@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #38bdf8;
  --color-text: #f8fafc;
  --font-sans: "Inter", sans-serif;
}
/* Hide scrollbar but keep scrolling */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}

:root {
  --vh: 1vh;
}

/* Use it wherever full screen height is needed */
.full-height {
  height: calc(var(--vh) * 100);
}
